html {
	-webkit-text-size-adjust: none;
}

body,
button,
input,
select,
textarea {
	font: normal 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", "hei", Arial, "Lucida Grande", Verdana;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
img,
section {
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}

/*base.css start*/

ol,
ul {
	list-style: none;
}

capation,
th {
	text-align: left;
}
.art_cont pre{
	padding: 0;
	overflow:hidden;
}
.codeStyle{
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	-webkit-text-size-adjust: none;
}
.toast_mask{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1001;
	background-color: rgba(0, 0, 0, .4);
	display: none;
}
.toast_content{
	position: fixed;
	z-index: 1002;
	top: 50%;
	left: 50%;
	margin-left: -130px;
	margin-top: -27px;
	width: 240px;
	line-height: 24px;
	border-radius: 5px;
	background: rgba(0, 0, 0, .7);
	padding: 10px 15px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	word-break: break-all;
	display: none;
}

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.dn{
	display: none;
}
.mainBody{
	background:#E5EAED;
}
.myMain{
	background:#E5EAED;
}
.text_blue{
	color:#06f;
	cursor:pointer;
}
.myBtn{
	border: 1px solid #00ada7;
	background: #00ada7;
	color: #ffffff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.content .myBtn:hover{
	color:#fff;
	background:#333;
}
.content{
	position:relative;
	width:80%;
	max-width:1080px;
	margin:0 auto;
	overflow: hidden;
}
.left_side{
	width:70%;
	height:100%;
	float: left;
	padding-top:30px;
}
.right_side{
	width:30%;
	height:100%;
	float: right;
	display:block;
}
.registBox{
	margin-top:30px;
	margin-left:10%;
	width:90%;
	background:#fff;
	padding:20px;
	display: none;
}
.loginBox{
	margin-top:30px;
	margin-left:10%;
	width:90%;
	background:#fff;
	padding:20px;
}
.user_panel{
	margin-top:30px;
	margin-left:10%;
	width:90%;
	background:#fff;
	padding:20px;
}
.line .form-control{
	display:inline-block;
}
.title{
	width:100%;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #ddd;
}
.title span{
	display: inline-block;
	padding-right:20px;
	height:100%;
	border-bottom:2px solid #00ada7;
}
.user_panel p{
	line-height:35px;
	font-size:14px;
}
.login_text{
	color:red;
}
.user_panel a{
	line-height:35px;
}
.line{
	width:100%;
	height:40px;
	line-height:40px;
	margin-top:10px;
}
.line span{
	width:35%;
	max-width:80px;
	text-align:right;
	display:inline-block;
}
.line input{
	width:60%;
	height:30px;
	border:1px solid #999;
	border-radius:5px;
}
.subBtn{
	width:60%;
	height:30px;
	line-height:30px;
	text-align: center;
	margin:15px auto 0 auto;
	border:none;
	border-radius:5px;
	display:block;
}
.prompt_info{
	color:red;
	margin-top:15px;
	display: inline-block;
	width:100%;
	text-align:center;
}
/*首页*/
.nav>li.loginBtn{
	display: none;
}
.headerBg{
	background:url("../images/headImg.jpg") no-repeat;
	background-size: 100% auto;
	display: block;
	position: fixed;
	top:0;left:0;
	width:100%;
	height:400px;
	overflow: hidden;
	z-index:-1;
}
.header{
	width:100%;
	height:400px;
	overflow: hidden;
}
.headerCont{
	width:100%;
	color:#fff;
	margin-top:50px;
}
.headerCont h2{
	font-size:5em;
	line-height: 2em;
	font-weight:600;
	padding-left:6%;
}.headerCont h4{
	font-size:3em;
 	font-weight:600;
   padding-left:6%;
}
.mainBody .myNav{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#main-menu ul{
	position: relative;
	left: 50%;
}
#main-menu ul li{
	text-align: center;
	position: relative;
	right: 50%;
}
#main-menu .navbar-nav>li>a {
	color: #333;
}
#main-menu .navbar-nav>li>a:hover{
	color:#00ada7;
}
#main-menu .navbar-nav>li>a.active{
	color:#00ada7;
}
.navbar-toggle.myIcon{
	border:none;
	border-radius:0;
	float: none;
	cursor:pointer;
	margin-right:0;
}
.myIcon .icon-bar{
	margin:0 auto;
}
.navbar-default .navbar-toggle.myIcon:hover{
	background:#f8f8f8;
}

.articalBlock{
	width:100%;
	padding:20px;
	background:#fff;
	margin-bottom:20px;
	overflow: hidden;
	box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.art_title{
	text-align: center;
	line-height:40px;
	font-size:26px;
}
.vTitle{
	font-size:22px;
	line-height:40px;
	border-bottom:1px dotted #ccc;
}
.imgBox{
	width:100%;
	margin:15px 0;
}
.imgBox img{
	display: block;
	max-width: 100%;
}

.art_info{
	text-align: center;
	font-size:12px;
}
.art_info span{
	margin-right:20px;
	display: inline-block;
}
.btn_yel{
	background:#fa0;
	outline:none;
}
.art_info b{
	color:#00ada7;
}
.art_info b.comments{
	cursor:pointer;
}
.myPage{
	width:100%;
	padding:20px;
	background:#fff;
	height:80px;
	line-height: 40px;
	box-sizing:border-box;
	margin-bottom:20px;
}
.myPage a:hover{
	text-decoration:none;
}
.myPage div{
	float: left;
	width:33.33%;
	text-align: center;
}
.myPage div:nth-of-type(1){
	text-align: left;
}
.myPage div:nth-of-type(3){
	text-align: right;
}
.art_desc{
	padding-left:30px;
	text-indent:2em;
	font-size:13px;
	color:#666;
}
.art_cont{
	width:100%;
	padding:3% 5%;
}
.art_cont p{
	text-indent:2em;
}


/*留言*/
.dividLine{
	width:100%;
	height:1px;
	border-bottom:1px solid #ddd;
	margin:15px 0;
}
.comment_area{
	overflow: hidden;
}
.writeComment{
	color:#09f;
	font-size:15px;
	cursor:pointer;
}
.writeBox{
	margin:15px 0;
	display: none;
}
.writeBox .subComment{
	padding:5px 20px;
	margin-top:10px;
}
.writeBox textarea{
	width:100%;
}
.com_approve{
	cursor:pointer;
	position:absolute;
	right:10px; top:0;
	color:#999;
}
.com_approve.active{
	color:#5cb85c;
}

.comments_box{
	width:100%;
}
.comment_item{
	width:100%;
	margin-top:10px;
	position:relative;
	overflow: hidden;
}
.comment_left{
	float: left;
	width:10%;
}
.user_face{
	width:80%;
}
.user_face img{
	width:100%;
}
.comment_cont{
	width:90%;
	float: left;
}
.comment_cont p:nth-of-type(1){
	color:#666;
}
.comment_cont p:nth-of-type(3){
	font-size:13px;
	color:#666;
}

.comment_area p{
	text-indent: 0;
}

/*后台管理*/
.navLeft .dropdown-menu{
	min-width:0;
	width:100px;
}
.navRight .dropdown-menu{
	min-width:0;
	width:87px;
}
.myTable thead tr th,.myTable tbody tr td{
	text-align:center;
	max-width:300px;
	line-height:35px;
}
.userPanel{
	width:80%;
	margin:0 auto;
}

/*分类管理*/
#form1 label{
	text-align:right;
	font-size:18px;
}

/*文章管理*/
.myForm label{
	text-align: right;
	font-size:18px;
}
.operate div{
	width:35px;
	height:35px;
	border:1px solid #999;
	text-align: center;
	line-height:35px;
	border-radius:5px;
	float: left;
	font-size:20px;
	cursor:pointer;
	margin-right:10px;
	margin-bottom:10px;
}


@media screen and (max-width:1024px){
	.content{
		width:100%;
	}
	.right_side{
		width:100%;
		float:none;
		display:none;
	}
	.right_side .registBox,.right_side .loginBox,.right_side .user_panel{
		margin:20px auto;
	}
	.left_side{
		width:92%;
		float:none;
		margin:0 auto;
		padding-top:0;
	}
	.headerBg{
		background:url("../images/headImg4.jpg") no-repeat;
		background-size: 100% auto;
		height:260px;
	}
	.header{
		height:260px;
	}
	.headerCont h2{
		font-size:3em;
		line-height: 2em;
	}
	.headerCont h4{
		 font-size:2em;
		 font-weight:600;
	}
	.art_desc{
		text-indent:0;
	}
	.art_cont p {
		text-indent: 2em;
	}
	#main-menu ul{
		position: relative;
		left: 0;
	}
	#main-menu ul li{
		text-align: center;
		position: relative;
		right: 0;
	}
	.nav>li.loginBtn{
		display: block;
	}
}
