html {
	-webkit-text-size-adjust: none;
}

body,
button,
input,
select,
textarea {
	font: normal 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", "hei", Arial, "Lucida Grande", Verdana;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
img,
section {
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}

/*base.css start*/

ol,
ul {
	list-style: none;
}

capation,
th {
	text-align: left;
}
.toast_mask{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1001;
	background-color: rgba(0, 0, 0, .4);
	display: none;
}
.toast_content{
	position: fixed;
	z-index: 1002;
	top: 50%;
	left: 50%;
	margin-left: -130px;
	margin-top: -27px;
	width: 240px;
	line-height: 24px;
	border-radius: 5px;
	background: rgba(0, 0, 0, .7);
	padding: 10px 15px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	word-break: break-all;
	display: none;
}

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.hidden{
	display: none;
}
.mainBody{
	background:#eee;
}
.text_blue{
	color:#06f;
	cursor:pointer;
}
.content{
	position:relative;
	width:80%;
	max-width:1080px;
	margin:0 auto;
	overflow: hidden;
}
.left_side{
	width:70%;
	height:100%;
	float: left;
	padding-top:30px;
}
.right_side{
	width:30%;
	height:100%;
	float: right;
}
.registBox{
	margin-top:30px;
	margin-left:10%;
	width:90%;
	background:#fff;
	padding:20px;
	display: none;
}
.loginBox{
	margin-top:30px;
	margin-left:10%;
	width:90%;
	background:#fff;
	padding:20px;
}
.user_panel{
	margin-top:30px;
	margin-left:10%;
	width:90%;
	background:#fff;
	padding:20px;
}
.line .form-control{
	display:inline-block;
}
.title{
	width:100%;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #ddd;
}
.title span{
	display: inline-block;
	padding-right:20px;
	height:100%;
	border-bottom:2px solid #f90;
}
.user_panel p{
	line-height:35px;
	font-size:14px;
}
.login_text{
	color:red;
}
.user_panel a{
	line-height:35px;
}
.line{
	width:100%;
	height:40px;
	line-height:40px;
	margin-top:10px;
}
.line span{
	width:80px;
	text-align:right;
	display:inline-block;
}
.line input{
	width:100px;
	height:30px;
	border:1px solid #999;
	border-radius:5px;
}
.subBtn{
	width:80px;
	height:30px;
	background:#fa0;
	line-height:30px;
	text-align: center;
	margin:10px 0 0 60px;
	border:none;
	border-radius:5px;
}
.prompt_info{
	color:red;
	margin-top:15px;
	display: inline-block;
	width:100%;
	text-align:center;
}
/*首页*/
.menu{
	width:100%;
	height:50px;
	line-height:50px;
	text-align: center;
	border-bottom:2px solid #999;
	background:#fff;
	box-shadow:4px 4px 4px #ccc;
}
.menu a{
	padding:0 15px;
	height:50px;
	display: inline-block;
	line-height:50px;
	text-decoration: none;
	color:#666;
	font-size:16px;
}
.menu a.active{
	border-bottom:2px solid #f90;
	color:#f90;
	background:#fff8e9;
}
.menu a:hover{
	border-bottom:2px solid #f90;
	color:#f90;
	background:#fff8e9;
	text-decoration:none;
}
.header{
	width:100%;
	position:fixed;
	top:0;
	z-index:10;
}
.content{
	margin-top:200px;
}
.headImg{
	width:100%;
	height:150px;
	background:url("../images/headImg.jpg") no-repeat;
	background-size:cover;
	text-align: center;
}

.articalBlock{
	width:100%;
	padding:20px;
	background:#fff;
	margin-bottom:20px;
	overflow: hidden;
}

.art_title{
	text-align: center;
	line-height:40px;
	font-size:20px;
}

.art_info{
	text-align: center;
	font-size:12px;
}
.art_info span{
	margin-right:20px;
}
.btn_yel{
	background:#fa0;
	outline:none;
}
.art_info b{
	color:#59c2d2;
}
.art_info b.comments{
	cursor:pointer;
}
.myPage{
	width:100%;
	padding:20px;
	background:#fff;
	height:80px;
	line-height: 40px;
	box-sizing:border-box;
	margin-bottom:20px;
}
.myPage a:hover{
	text-decoration:none;
}
.myPage div{
	float: left;
	width:33.33%;
	text-align: center;
}
.myPage div:nth-of-type(1){
	text-align: left;
}
.myPage div:nth-of-type(3){
	text-align: right;
}
.art_desc{
	padding-left:30px;
	text-indent:2em;
	font-size:13px;
	color:#666;
}
.art_cont{
	width:100%;
	padding:3% 5%;
	display: none;
}
.art_cont p{
	text-indent:2em;
}
.articalBlock .hideBtn{
	display: none;
}

/*后台管理*/
.navLeft .dropdown-menu{
	min-width:0;
	width:100px;
}
.navRight .dropdown-menu{
	min-width:0;
	width:87px;
}
.myTable thead tr th,.myTable tbody tr td{
	text-align:center;
	max-width:300px;
	line-height:35px;
}
.userPanel{
	width:80%;
	margin:0 auto;
}

/*分类管理*/
#form1 label{
	text-align:right;
	font-size:18px;
}

/*文章管理*/
.myForm label{
	text-align: right;
	font-size:18px;
}
.operate div{
	width:35px;
	height:35px;
	border:1px solid #999;
	text-align: center;
	line-height:35px;
	border-radius:5px;
	float: left;
	font-size:20px;
	cursor:pointer;
}
.operate div:nth-of-type(1){
	margin-right:20px;
}

@media screen and (max-width:1024px){
	.content{
		width:90%;
	}
	.right_side{
		width:100%;
		float:none;
	}
	.right_side .registBox,.right_side .loginBox,.right_side .user_panel{
		margin:20px auto;
	}
	.left_side{
		width:100%;
		float:none;
		padding-top:0;
	}
	.headImg{
		background:url("../images/headImg2.jpg") no-repeat;
		background-size:cover;
	}
}
