<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>飞马里奥</title>
	<link href="/public/images/face.jpg" rel="shortcut icon" />
	<link type="text/css" rel="stylesheet" href="/public/css/main.css" />
	<link type="text/css" rel="stylesheet" href="/public/css/bootstrap.min.css" />
	<script src="/public/js/jquery-1.12.4.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body class="mainBody">
<div class="header">
	<div class="headImg"></div>
	<nav>
		<div class="menu">
			{% if (!rel_cat) %}

				<a href="/" class="active">首页</a>
				{% for cat in categories %}
					<a href="/?id={{cat._id.toString()}}">{{cat.name}}</a>
				{% endfor %}

			{% else %}
				<a href="/">首页</a>
				{% for cat in categories %}
					{% if rel_cat==cat._id.toString() %}
						<a href="/?id={{cat._id.toString()}}" class="active">{{cat.name}}</a>
					{% else %}
						<a href="/?id={{cat._id.toString()}}">{{cat.name}}</a>
					{% endif %}

				{% endfor %}

			{% endif %}
		</div>
	</nav>
</div>

<div class="content">

	<div class="right_side">
		{% if userInfo.id %}
			<div class="user_panel" id="i_userPanel">
				<div class="title">
					<span>用户信息</span>
				</div>
				<p class="j_userName">{{userInfo.username}}</p>
				{% if userInfo.isAdmin %}
				<p class="login_text">你好，管理员<br/>
					<span style="font-size:12px;"><a target="_blank" href="/admin">点击这里</a>进入管理后台</span>
				</p>
				{% else %}
				<p class="login_text">您好，欢迎光临我的博客!</p>
				{% endif %}
				<a href="javascript:;" id="i_logOut">退出</a>
			</div>
		{% else %}
		<div class="registBox">
			<form id="i_regForm">
				<div class="title">
					<span>注册</span>
				</div>
				<div class="line">
					<span>用户名：</span>
					<input type="text" name="username" class="form-control" />
				</div>
				<div class="line">
					<span>密码：</span>
					<input type="password" name="password" class="form-control" />
				</div>
				<div class="line">
					<span>确认密码：</span>
					<input type="password" name="confirmword" class="form-control" />
				</div>
			</form>
			<button class="subBtn" id="i_regist">注册</button>
			<p class="prompt_info j_promptInfo"></p>
			<p>已经有账号了？马上去<span class="text_blue j_toLogin">登录</span></p>
		</div>
		<div class="loginBox">
			<form id="i_logForm">
				<div class="title">
					<span>登录</span>
				</div>
				<div class="line">
					<span>用户名：</span>
					<input type="text" name="username" class="form-control" />
				</div>
				<div class="line">
					<span>密码：</span>
					<input type="password" name="password" class="form-control" />
				</div>
			</form>
			<button class="subBtn" id="i_login">登录</button>
			<p class="prompt_info j_promptInfo"></p>
			<p>还没有账号？马上去<span class="text_blue j_toReg">注册</span></p>
		</div>
		{% endif %}
	</div>

	<div class="left_side">
		{% for artical in articals %}
			<div class="articalBlock" data-id="{{artical._id.toString()}}">
				<h3 class="art_title">{{artical.title}}</h3>
				<p class="art_info">
					<span>添加时间：<b>{{artical.addTime|date("Y-m-d",-8*60)}}</b></span>
					<span>作者：<b>{{artical.user.username}}</b></span>
					<span>阅读量：<b>{{artical.views}}</b></span>
				</p>
				<p class="art_desc">简介：{{artical.desc}}</p>
				<button class="btn btn_yel j_showCont">阅读全文</button>
				<div class="art_cont">
					{% for pg in artical.content %}
						{% if pg.type == "code" %}
							<pre>
								<code class="codeStyle">{{pg.value}}</code>
							</pre>
						{% elif pg.type == "title" %}
							<h4 class="vTitle">{{pg.value}}</h4>
						{% elif pg.type == "img" %}
							<div class="imgBox">
								<img src="{{pg.value}}" />
							</div>
						{% else %}
							<p>{{pg.value || pg}}</p>
						{% endif %}
					{% endfor %}
					<div class="dividLine"></div>
					<div class="comment_area">
						<div class="clearfix"><span class="j_writeSth pull-right writeComment">写留言<b class="glyphicon glyphicon-pencil"></b></span></div>
						<div class="writeBox clearfix">
							<textarea class="form-control" rows="4"></textarea>
							<button class="btn btn-success pull-right subComment j_subComment">提交</button>
						</div>
						<div class="comments_box"></div>
					</div>
				</div>
				<button class="btn btn_yel hideBtn j_hideCont">收起全文</button>
			</div>
		{% endfor %}

		<div class="myPage">
			<div class="page_left">
				{% if page<=1 %}
					<span>没有上一页了</span>
				{% else %}
					<a href="?page={{page-1}}&id={{rel_cat}}">上一页</a>
				{% endif %}
			</div>
			<div class="page_count">
				{{page}}/{{total_page}}
			</div>
			<div class="page_right">
				{% if page==total_page %}
					<span>没有下一页了</span>
				{% else %}
					<a href="?page={{page+1}}&id={{rel_cat}}">下一页</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div id="i_toast_mask" class="toast_mask"></div>
<div id="i_toast_content" class="toast_content"></div>

</body>
</html>