<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link type="text/css" rel="stylesheet" href="/public/main.css" />
	<script src="/public/js/jquery-1.12.4.min.js"></script>
	<script src="/public/js/index.js"></script>
</head>
<body class="mainBody">
<div class="header">
	欢迎来到我的博客
</div>
<div class="content">
	<div class="left_side"></div>
	<div class="right_side">
		{% if userInfo.id %}
		<div class="user_panel" id="i_userPanel">
			<div class="title">
				<span>用户信息</span>
			</div>
			<p class="j_userName">{{userInfo.username}}</p>
			{% if userInfo.isAdmin %}
				<p class="login_text">你好，管理员<br/>
					<span style="font-size:12px;"><a href="/admin">点击这里</a>进入管理后台</span>
				</p>
			{% else %}
				<p class="login_text">您好，欢迎光临我的博客!</p>
			{% endif %}
			<a href="javascript:;" id="i_logOut">退出</a>
		</div>
		{% else %}
		<div class="registBox">
			<form id="i_regForm">
				<div class="title">
					<span>注册</span>
				</div>
				<div class="line">
					<span>用户名：</span>
					<input type="text" name="username" />
				</div>
				<div class="line">
					<span>密码：</span>
					<input type="password" name="password" />
				</div>
				<div class="line">
					<span>确认密码：</span>
					<input type="password" name="confirmword" />
				</div>
			</form>
			<button class="subBtn" id="i_regist">注册</button>
			<p class="prompt_info j_promptInfo"></p>
			<p>已经有账号了？马上去<span class="text_blue j_toLogin">登录</span></p>
		</div>
		<div class="loginBox">
			<form id="i_logForm">
				<div class="title">
					<span>登录</span>
				</div>
				<div class="line">
					<span>用户名：</span>
					<input type="text" name="username" />
				</div>
				<div class="line">
					<span>密码：</span>
					<input type="password" name="password" />
				</div>
			</form>
			<button class="subBtn" id="i_login">登录</button>
			<p class="prompt_info j_promptInfo"></p>
			<p>还没有账号？马上去<span class="text_blue j_toReg">注册</span></p>
		</div>
		{% endif %}
	</div>
</div>
</body>
</html>